/* Global */
body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  background-color: #011e29;
  color: white;
  width: 100%;
  padding: 20px;
}

/* Layout */
.content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px;
}

/* Common Box Style */
.latest-news-section,
.main-article-section,
.pictorial-news-section {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Latest News */
.latest-news-section {
  width: 25%;
}

.latest-news-section ul {
  list-style-type: disc;
  margin-left: 30px;
}

/* Main Article */
.main-article-section {
  width: 40%;
  text-align: center;
}

/* Pictorial News */
.pictorial-news-section {
  width: 25%;
  border-radius: 15px;
  padding: 20px;
  background-color: white;
}

.pictorial-news-section img {
  display: block;
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}





