body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #011e29;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px;
}

.latest-news-section,
.main-article-section,
.pictorial-news-section {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  width: 25%;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Center Main Article wider */
.main-article-section {
  width: 40%;
}

.latest-news-section ul {
  list-style-type: disc;
  text-align: left;
  margin-left: 30px;
}

.pictorial-news-section img {
  display: block;
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}




